.container {
    width: 950px;
    margin: auto;
}

h1, div {
    text-align: center;
}

.anime-image {
    width: 180px;
    height: 180px;
    border-style: groove;
    border-width: 15px;
    border-color: rgb(187, 187, 243);
    margin: 10px;
  }

 #compChoice,
 #totalScore {
     height: 150px;
     font-size: 26px;
     background-color: rgb(176, 113, 235);
 }

 #gameStats {
    height: 150px;
    font-size: 18px;
    background-color: rgb(177, 245, 19);
 }

 #animeBtns {
    
 }